input[type="search"] {
	width: 300px;
   height: 30px;
   margin-top: 9px;
}
#logo
{
    height: 50px;
    width: 50px;
}




body
    {
        background-image: url('../images/tile.jpg');
    }

.title2 a
    {
        padding: 10px;
        text-decoration: none;
    }
	
	
	.nav ul li
	
	{
	display:block;
	padding:1px 2px;
	font-size:15px;	
		
		
	}
	
	.dropdown-menu
	{
	 width:200px;	
	 margin-right:10%;
		
	}

	